<div class="jumbotron">
  <div class="container">
    <h1>
      <img src="images/angular.png" height="100" />
      Hello, Angular!
    </h1>

    <p>
      This is a quick start seed for an Angular project including many common libraries for
      getting up to speed fast.
    </p>

    <p>
      Honestly moreso because loading Bootstrap is a pain and you have better things to do than
      wade through docs all day to make it play nice. Have fun!
    </p>
  </div>
</div>

<h2>Featuring...</h2>

<div class="row">
  <div class="col-md-2">
    <h3>Angular</h3>

    <a href="https://angularjs.org/">
      <img src="images/angular.png" height="100" />
    </a>
  </div>

  <div class="col-md-2">
    <h3>Gulp</h3>

    <a href="http://gulpjs.com/">
      <img src="images/gulp.png" height="100" />
    </a>
  </div>

  <div class="col-md-2">
    <h3>Browserify</h3>

    <a href="http://browserify.org/">
      <img src="images/browserify.png" height="100" />
    </a>
  </div>

  <div class="col-md-2">
    <h3>Bootstrap</h3>

    <a href="http://getbootstrap.com/">
      <img src="images/bootstrap.png" height="100" />
    </a>
  </div>

  <div class="col-md-2">
    <h3>Bootstrap UI</h3>

    <a href="https://angular-ui.github.io/bootstrap/">
      <img src="images/bootstrap-ui.png" height="100" />
    </a>
  </div>

  <div class="col-md-2">
    <h3>FontAwesome</h3>

    <a href="http://fontawesome.io/">
      <img src="images/fontawesome.png" height="100" />
    </a>
  </div>
</div>
